<div class="example-dialog-content" >
  <h4 cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="drag-handle">Drag here</h4>
  <div style="background-color:red; height: 120px">Content cannot be dragged</div>
</div>

<!--NOTE: the code below works as expected
<div class="example-dialog-content" cdkDrag cdkDragRootElement=".cdk-overlay-pane" >
  <h4 cdkDragHandle class="drag-handle">Drag here</h4>
  <div style="background-color:red; height: 120px">Content cannot be dragged</div>
</div>
-->
